//  Перемінні для кольорів
$primary-text-color: #000000;
$header-text-color: #ffffff;
$accent-color: #ff6b08;
$bg-page-color: #e5e5e5;
$footer-text-color: #545454;
$notification-text-color: #ff001b;
$modal-text-color: #8c8c8c;
$modal-votes-bg-color: #f7f7f7;
$accent-modal-color: #ff6b01;
