<article class="footer-modal">
  <div class="visually-hidden backdrop-footer-modal" id="js-backdrop-footer">
    <div class="container-footer-modal container js-footer-bakground" data-modal.js>
      <button class="close-button js-close-footer" type="button">
        <svg class="close-button-svg" width="18" height="18">
          <use href="./images/svg/close-btn.svg"></use>
        </svg>
      </button>

      <ul class="footer-modal-our-team-list">
        <li class="footer-portrets-card">
          <a href="https://github.com/sla6ak" class="footer-modal__link" target="_blank">
            <div class="modal-team__img">
              <img src="./images/ourTeam/Viktor.png" alt="Viktor Yachmenik" class="ourteam-photo" width="270"
                height="260" /><img class="ourteam-photo__git" src="./images/pngaaa.com-1100822.png" alt="github" />
            </div>
            <div class="comand__card">
              <h3 class="comand__card--title">Viktor Yachmenik</h3>
              <p class="comand__card--profesional">Team-lead</p>
              <span class="comand__card--about">Development of project architecture and code review</span>
            </div>
          </a>
        </li>
        <li class="footer-portrets-card">
          <a href="https://github.com/ya-sinska" class="footer-modal__link" target="_blank">
            <div class="modal-team__img">
              <img src="./images/ourTeam/Romanna.jpg" alt="Romanna Yasinska" class="ourteam-photo" width="270"
                height="260" /><img class="ourteam-photo__git" src="./images/pngaaa.com-1100822.png" alt="github" />
            </div>
            <div class="comand__card">
              <h3 class="comand__card--title">Romanna Yasinska</h3>
              <p class="comand__card--profesional">Scrum master</p>
              <span class="comand__card--about">Header layout and local storage logic</span>
            </div>
          </a>
        </li>
        <li class="footer-portrets-card">
          <a href="https://github.com/WalentinaBorodaj" class="footer-modal__link" target="_blank">
            <div class="modal-team__img">
              <img src="./images/ourTeam/Valentina.jpg" alt="Valentina Borodai" class="ourteam-photo" width="270"
                height="260" /><img class="ourteam-photo__git" src="./images/pngaaa.com-1100822.png" alt="github" />
            </div>
            <div class="comand__card">
              <h3 class="comand__card--title">Valentina Borodai</h3>
              <p class="comand__card--profesional">Developer</p>
              <span class="comand__card--about">Theme design and scroll design</span>
            </div>
          </a>
        </li>
        <li class="footer-portrets-card">
          <a href="https://github.com/VladyslavGolovko" class="footer-modal__link" target="_blank">
            <div class="modal-team__img">
              <img src="./images/ourTeam/Vladyslav.jpg" alt="Vladyslav Golovko" class="ourteam-photo" width="270"
                height="260" /><img class="ourteam-photo__git" src="./images/pngaaa.com-1100822.png" alt="github" />
            </div>
            <div class="comand__card">
              <h3 class="comand__card--title">Vladyslav Golovko</h3>
              <p class="comand__card--profesional">Developer</p>
              <span class="comand__card--about">Developing of the youtube modal window with the movie trailer</span>
            </div>
          </a>
        </li>
        <li class="footer-portrets-card">
          <a href="https://github.com/Leonid578" class="footer-modal__link" target="_blank">
            <div class="modal-team__img">
              <img src="./images/ourTeam/Leonid.jpg" alt="Leonid Ivanov" class="ourteam-photo" width="270"
                height="260" /><img class="ourteam-photo__git" src="./images/pngaaa.com-1100822.png" alt="github" />
            </div>
            <div class="comand__card">
              <h3 class="comand__card--title">Leonid Ivanov</h3>
              <p class="comand__card--profesional">Developer</p>
              <span class="comand__card--about">Development of modal windows modal logic</span>
            </div>
          </a>
        </li>
        <li class="footer-portrets-card">
          <a href="https://github.com/OleksandrKutsevych" class="footer-modal__link" target="_blank">
            <div class="modal-team__img">
              <img src="./images/ourTeam/photoAlex.jpg" alt="Oleksandr Kutsevtch" class="ourteam-photo" width="270"
                height="260" />
              <img class="ourteam-photo__git" src="./images/pngaaa.com-1100822.png" alt="github" />
            </div>
            <div class="comand__card">
              <h3 class="comand__card--title">Oleksandr Kutsevych</h3>
              <p class="comand__card--profesional">Developer</p>
              <span class="comand__card--about">Development of card render and modal window with info about films</span>
            </div>
          </a>
        </li>
        <li class="footer-portrets-card">
          <a href="https://github.com/AM111D" class="footer-modal__link" target="_blank">
            <div class="modal-team__img">
              <img src="./images/ourTeam/Dima_K.jpg" alt="Dima Kalaida" class="ourteam-photo" width="270"
                height="260" /><img class="ourteam-photo__git" src="./images/pngaaa.com-1100822.png" alt="github" />
            </div>
            <div class="comand__card">
              <h3 class="comand__card--title">Dmitriy Kalaida</h3>
              <p class="comand__card--profesional">Developer</p>
              <span class="comand__card--about">Worked with listener logic</span>
            </div>
          </a>
        </li>
        <li class="footer-portrets-card">
          <a href="https://github.com/Mikhail-Ropii" class="footer-modal__link" target="_blank">
            <div class="modal-team__img">
              <img src="./images/ourTeam/mikhail.jpg" alt="Mikhail Ropii" class="ourteam-photo" width="270"
                height="260" /><img class="ourteam-photo__git" src="./images/pngaaa.com-1100822.png" alt="github" />
            </div>
            <div class="comand__card">
              <h3 class="comand__card--title">Mikhail Ropii</h3>
              <p class="comand__card--profesional">Developer</p>
              <span class="comand__card--about">Work with HTTP requests, layout and visual design</span>
            </div>
          </a>
        </li>
        <li class="footer-portrets-card">
          <a href="https://github.com/Andrew-Borys" class="footer-modal__link" target="_blank">
            <div class="modal-team__img">
              <img src="./images/ourTeam/Andrii.jpg" alt="ss" class="ourteam-photo" width="270" height="260" /><img
                class="ourteam-photo__git" src="./images/pngaaa.com-1100822.png" alt="github" />
            </div>
            <div class="comand__card">
              <h3 class="comand__card--title">Borys Andrii</h3>
              <p class="comand__card--profesional">Developer</p>
              <span class="comand__card--about">Ingener and code rewiuer</span>
            </div>
          </a>
        </li>
        <li class="footer-portrets-card">
          <a href="https://github.com/Chackorbit" class="footer-modal__link" target="_blank">
            <div class="modal-team__img">
              <img src="./images/ourTeam/dima_v.jpg" alt="ss" class="ourteam-photo" width="270" height="260" /><img
                class="ourteam-photo__git" src="./images/pngaaa.com-1100822.png" alt="github" />
            </div>
            <div class="comand__card">
              <h3 class="comand__card--title">Dmytro Vasylchuk</h3>
              <p class="comand__card--profesional">Developer</p>
              <span class="comand__card--about">Developed pagination. Helped in fixing all sorts of bugs.</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</article>