<article class="modal-box">
  <div class="modal-youtube__backdrop js-modal-youtube__backdrop visually-hidden">
    <div class="modal-youtube__box container js-modal-youtube__box">
      <button class="close-button js-close-modal-treiler" type="button">
        <svg class="close-button-svg" width="18" height="18">
          <use href="./images/svg/close-btn.svg"></use>
        </svg>
      </button>
      <div class="js-modal-youtube__frame modal-youtube__frame">
        <iframe class="ifr" src="./images/yout.png"></iframe>
      </div>
    </div>
  </div>
</article>
