<article class="render container">
  <ul class="render-box" id="render">
    <!-- это карточка пример рендера в одном экземпляре -->

    <!-- <div class="film-card">
      <div class="film-card__img-zaglushka"></div>
      <div class="film-card__discribe-container">
        <h4 class="film-card__film-name">ONCE UPON A TIME... IN HOLLYWOOD</h4>
        <div class="film-card__info">
          <p class="film-card__film-ganre">Drama, Comedy | 2019</p>
          <div class="film-card__film-rating">9.3</div>
        </div>
      </div>
    </div> -->
  </ul>

  <!-- Контейнер для пагинации -->
  <div id="tui-pagination-container" class="tui-pagination"></div>
</article>
